.hlcode code, .hlcode pre {
color:#fdce93;
background-color:#3f3f3f;
}

.hlcode .hll {
background-color:#222;
}

.hlcode .err {
color:#e37170;
background-color:#3d3535;
}

.hlcode .k {
color:#f0dfaf;
}

.hlcode .p {
color:#41706f;
}

.hlcode .cs {
color:#cd0000;
font-weight:700;
}

.hlcode .gd {
color:#cd0000;
}

.hlcode .ge {
color:#ccc;
font-style:italic;
}

.hlcode .gr {
color:red;
}

.hlcode .go {
color:gray;
}

.hlcode .gs {
color:#ccc;
font-weight:700;
}

.hlcode .gu {
color:purple;
font-weight:700;
}

.hlcode .gt {
color:#0040D0;
}

.hlcode .kc {
color:#dca3a3;
}

.hlcode .kd {
color:#ffff86;
}

.hlcode .kn {
color:#dfaf8f;
font-weight:700;
}

.hlcode .kp {
color:#cdcf99;
}

.hlcode .kr {
color:#cdcd00;
}

.hlcode .ni {
color:#c28182;
}

.hlcode .ne {
color:#c3bf9f;
font-weight:700;
}

.hlcode .nn {
color:#8fbede;
}

.hlcode .vi {
color:#ffffc7;
}

.hlcode .c,.preview-zenburn .hlcode .g,.preview-zenburn .hlcode .cm,.preview-zenburn .hlcode .cp,.preview-zenburn .hlcode .c1 {
color:#7f9f7f;
}

.hlcode .l,.preview-zenburn .hlcode .x,.preview-zenburn .hlcode .no,.preview-zenburn .hlcode .nd,.preview-zenburn .hlcode .nl,.preview-zenburn .hlcode .nx,.preview-zenburn .hlcode .py,.preview-zenburn .hlcode .w {
color:#ccc;
}

.hlcode .n,.preview-zenburn .hlcode .nv,.preview-zenburn .hlcode .vg {
color:#dcdccc;
}

.hlcode .o,.preview-zenburn .hlcode .ow {
color:#f0efd0;
}

.hlcode .gh,.preview-zenburn .hlcode .gp {
color:#dcdccc;
font-weight:700;
}

.hlcode .gi,.preview-zenburn .hlcode .kt {
color:#00cd00;
}

.hlcode .ld,.preview-zenburn .hlcode .s,.preview-zenburn .hlcode .sb,.preview-zenburn .hlcode .sc,.preview-zenburn .hlcode .sd,.preview-zenburn .hlcode .s2,.preview-zenburn .hlcode .se,.preview-zenburn .hlcode .sh,.preview-zenburn .hlcode .si,.preview-zenburn .hlcode .sx,.preview-zenburn .hlcode .sr,.preview-zenburn .hlcode .s1,.preview-zenburn .hlcode .ss {
color:#cc9393;
}

.hlcode .m,.preview-zenburn .hlcode .mf,.preview-zenburn .hlcode .mh,.preview-zenburn .hlcode .mi,.preview-zenburn .hlcode .mo,.preview-zenburn .hlcode .il {
color:#8cd0d3;
}

.hlcode .na,.preview-zenburn .hlcode .nt {
color:#9ac39f;
}

.hlcode .nb,.preview-zenburn .hlcode .nc,.preview-zenburn .hlcode .nf,.preview-zenburn .hlcode .bp,.preview-zenburn .hlcode .vc {
color:#efef8f;
}